<%= render 'layouts/dashboard_nav' %>
<div role="navigation" id="nav">
  <ul>
    <li class="active"><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Dashboard', dashboard_url %></li>
    <li><%= link_to 'Foods', foods_url %></li>
    <li><%= link_to 'Sleep', sleeps_url %></li>
    <li><%= link_to 'Excercise', root_path %></li>
  </ul>
</div>
<div class="row">
  <h1>Dashboard</h1>

  <h3 class="subheader">
    <%= link_to "<<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">>", date: @date.next_month %>
  </h3>
  <%= calendar @date do |date| %>
    <%= date.day %>
  <% end %>
</div>
