<div class="row">
  <h1>Dashboard</h1>

  <h3 class="subheader">
    <%= link_to "<<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">>", date: @date.next_month %>
  </h3>
  <%= calendar @date do |date| %>
    <%= date.day %>
  <% end %>
</div>
