<%= render 'layouts/dashboard_nav' %>
<div class="row">
  <h1>Sleep Totals</h1>
  <div class="large-5 columns">
    <h3 class="month">
      <%= link_to "<", date: @date.prev_month, class: 'cal-larr' %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month, class: 'cal-rarr' %>
    </h3>
    <%= calendar @date do |date| %>
      <%= date.day %>
      <% if @sleeps_by_date[date] %>
        <% @sleeps_by_date[date].each do |sleep| %>
          <%= content_tag :span, "#{sleep.sleep_date.strftime("%e")}", :data => { :tooltip => "" }, class: 'has-tip overlay', title: "#{sleep.hours} hours" %>
        <% end %>
      <% end %>
    <% end %>


    <%# @sleeps.each do |sleep| %>

        <!--h3><%#= sleep.sleep_date.strftime("%B %e %Y") %></h3>
        <h5><%#= sleep.hours %> hours of sleep</h5!-->
    <%# end %>
  </div>
  <div class="large-7 columns">
    <canvas id="sleepChart" width="500" height="415"></canvas>
  </div>

</div>
<div class="row">
  <p><%= @total_average_sleep_time %></p>
  <p><%= @current_month_average_sleep_time %></p>
</div>



<%= javascript_include_tag 'application' %>
<%= javascript_include_tag sleeps_path %>