<nav class="top-bar dashboard-nav">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to 'Grassfed Tracker', root_path %></h1>
    </li>
    <Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone >
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to 'Dashboard', dashboard_url %></li>
      <li><%= link_to 'Foods', foods_url %></li>
      <li><%= link_to 'Sleep', sleeps_url %></li>
      <li><%= link_to 'Exercise', root_path %></li>
    </ul>
    <ul class="right">
      <li class="has-dropdown">
        <a href="">Settings</a>
        <ul class="dropdown">
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>



