<%= form_for(resource, :as => resource_name,
                       :url => registration_path(resource_name),
                       :html => { :data => { :validate => "parsley",
                                             :focus => "first" } }) do |f| %>
  <div class="row collapse">
    <div class="large-6 large-offset-3 columns">
      <h2>Sign up</h2>

      <%= f.text_field :username, :autofocus => true,
                                  :class => 'required',
                                  :data => { :required => true,
                                             :minlength => 1,
                                             :maxlength => 25,
                                             :trigger => 'keyup'} %>

      <%= f.email_field :email, :autofocus => true, :class => 'required',
                                  :data => { :required => true,
                                             :minlength => 1,
                                             :maxlength => 25,
                                             :trigger => 'keyup' } %>

      <% if f.object.password_required? %>
        <%= f.password_field :password, :class => 'required',
                                        :data => { :required => true,
                                                   :minlength => 8,
                                                   :maxlength => 24,
                                                   :trigger => 'keyup' } %>

        <%= f.password_field :password_confirmation, :class => 'required',
                                  :data => { :required => true,
                                             :minlength => 8,
                                             :maxlength => 25,
                                             :trigger => 'keyup' } %>
      <% end %>

      <%= f.submit "Sign up", class: 'button radius success expand' %>

      <hr>
      <%= render "users/shared/links" %>

    </div>
  </div>

<% end %>